/* .mat-table {
    display: block;
    max-width: 1600px;
    padding-left: 20px;
    overflow: none;
} */

.example-button-row-add-template{
    padding-left: 160px ;
}

.example-button-row{
    padding-right: 125px ;
}